body{
  /* background-image: url(Event\ photo/back.jpg);  */
  background-color: white;
  height: 100%;
}

.navbar {
  background-color: white;
  color: black;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.nav-button {
  background-color: transparent;
  color: black;
  border: none;
  font-family: 'montserrat' 'sans-serif';
  font-style:none;
  font-size: large;
  width: 100px;
  padding: 10px 20px;
  margin: 0 20px;
}
.nav-button2 {
  background-color: transparent;
  color: black;
  border: none;
  font-family: 'montserrat' 'sans-serif';
  font-style:none;
  font-size: large;
  width: 150px;
  padding: 10px 20px;
  margin: 0 20px;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: transparent;
  color: black;
  border: none;
  font-family: 'montserrat' 'sans-serif';
  font-style:none;
  font-size: large; 
  padding: 10px 20px;
  margin: 0 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'montserrat' 'sans-serif';
  font-style:none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo img {
  width: 170px;
  height: 60px;
  background: transparent;
  border-radius: 20%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.nav-button:hover{
  color: #ee6043;
}
.nav-button2:hover{
  color: #ee6043;
}
.dropbtn:hover{
  color: #ee6043;
}
.dropdown-content a:hover{
  color: #ee6043;
}








/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  width: 80%;
  /* height: 300px; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: 500px;
}
.mySlides img {
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.text-align {
  width: 80%;
  height: 20px;
  position: absolutes;
  margin: 0 auto;
}
.dot {
  /* cursor: pointer; */
  height: 5px;
  width: 15px;
  /* margin:  auto; */
  background-color: #bbb;
  /* border-radius: 50%; */
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.description-main {
  width: 80%;
  /* display: inline-block; */
  /* position: relative; */
  font-size: larger;
  margin: 0 auto;
}
.description-horizontal1 {
  width: 100%;
  height: 100px;
  display: flex;
  /* margin: 0 auto; */
}
.description-horizontal1 h1 {
  /* margin: 0 auto; */
  width: 50%;
}
.horizontalsub1 {
  width: 50%;
  /* justify-content: center; */
  /* text-align: center; */
  /* align-items: center; */
  text-align: right;
  margin-top: 20px;
  /* margin: 0 auto; */
}
.prev {
  width: 100px;
  height: 50px;
  background-color: #ee6043;
  color: white;
  border-radius: 10px;
  /* right: 0; */
}

.description-horizontal2 {
  width: 100%;
  height: 400px;
  display: inline-block;
  margin: 0 auto;
}

.description-horizontal3 {
  width: 100%;
  height: 200px;
  display: flex;
  margin: 0 auto;
}
.horizontalsub3 {
  width: 50%;
  margin: 0 auto;
}

    
.footermain{
  width: 100%;
  height: 350px;
  /* display: flex; */
  margin: 0 auto;
  background-color: #fff7f6;
  /* font-size: larger; */
}

p{
  /* color: #9e9e9e; */
  margin-left: 10px;
}

.footersub2{
  font-size: larger;
  width: 50%;
  /* position: relative;
  left: 30%; */
  margin: 0 auto;
  text-align: center;
  /* margin-left: 10px; */
  padding: 20px;
}

.footersub3{
  width: 80%;
  display: flex;
  margin: 0 auto;
  /* align-items: center; */
  /* justify-content: center; */
}

.subscribeemail{
  width: 70%;
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
}

.subscribe{
  width: 20%;
  margin-left: 10px;
  background-color: #fff7f6;
  color: black;
  box-shadow: #fff7f6;
  border-radius: 10px;
}

.subscribe:hover{
  background-color: #ee6043;
  color: #fff7f6;
}

.connect{
  width: 99%;
  text-align: center;
  margin: 20px;
  font-size: larger;
}

.social-icons {
  font-size: 24px; /* Adjust the font size as needed */
  display: flex;
  align-items: end;
  justify-content: center;
}

.social-icons i {
  margin-right: 10px; 
}

.fa-whatsapp:hover{
  color: #05574e;
}

.fa-twitter:hover{
  color: #1DA1F2;
}

.fa-instagram:hover{
  color:  #ee2a7b;
}

.fa-facebook:hover{
  color:#316FF6
}

/* Adjustments for the content below the navbar */
.content {
  padding-top: 60px; /* Adjust this value to match the height of your navbar */
}

