
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    
  }
  

  .mySlides {
    display: none;
    width: 100%;
    transition: opacity 1s ease;
  }
  

  .mySlides.active {
    display: block;
  }
  
 
  .mySlides img {
    width: 100%; 
   
    max-height: 500px;
    border-radius: 10px;
  }
  

  .text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .buy-message{
    text-align: center;
    margin: 2rem 0;
  }

  .buy-message p{
    font-size: 2rem;
    font-weight: 500;
  }
  
  .cardslide {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
  }
  
  .wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    margin: 0 auto;
  }
  
  .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  
  .carousel .card {
    scroll-snap-align: start;
    height: 100%;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    width: 98%;
    padding-bottom: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .card .img {
    background: green;
    width: 90%;
    height: 50%;
    border-radius: 20px;
  }
  
  .card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid #fff;
  }
  
  .info {
    height: 50%;
    width: 90%;
  }
  
  .info h1 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  
  .info p {
    font-size: 1.31rem;
  }
  
  .btn {
    width: 80px;
    height: 40px;
    color: white;
    background-color: #ee6043;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20%;
    font-size: large;
    border: 0;
  }
  
  .btn:hover {
    color: black;
    background: white;
    border: 1px solid #ee6043;
  }
  
  .price {
    color: #ee6043;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  